/* ul {
  background-color: transparent;
} */

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

a.settings,
a.nav {
  padding: 10px 20px;
  display: block;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a.settings:hover {
  color: white;
}
